**/__pycache__
**/.vscode
**/*.npy
**/.DS_Store

# not solved tasks (but attempted)
Algorithms/Easy/17_conveyor
Algorithms/Easy/547_linear-postman

ML/Hard/
ML/Medium/550_misprints-again/
ML/Medium/552_concatenation/